*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

.hiremebutton{
    position: absolute;
    top: 50%;
    width: 130px;
    height: 40px;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3 ease;
    background: rgb(227, 0, 0);
}

.hiremebutton:hover{
    box-shadow: inset 130px 0 0 0 rgb(176, 119, 119);
    transition-delay: 0.5s;
    transition-property: margin-left, color;
}

.wrapper{
    /* text-align: center; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn{
    background: rgb(227, 0, 0);
    z-index: 1;
    border: none;
}

